html, body { padding: 0; margin: 0;}

.no-js .slider {
    display: block;
    padding: 10px;
}
.no-js li {
    display: block;
    margin-bottom: 5px;
}
.no-js .slider__item {
    display: inline;
    float: none;
}

.slider {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.slider__canvas {
    
}
.slider__item {
    display: block;
    float: left;
}

.slider-wrap {
/*    width: 600px;
    height: 337px;*/
    width: 400px;
    height: 300px;
}
.slider__viewport {
    overflow: hidden;
}





/* slider bullets draft css */
.slider-bullets {

}
.slider-bullets__inner {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}
.slider-bullets__item {
    display: block;
    float: left;
    padding: 10px;
    position: relative;
}
.slider-bullets__item a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.slider-bullets__item_active {
    background: #cecece;
}
.slider-bullets_style_bullets .slider-bullets__item a {
    text-decoration: none;
}

.html-slide {
    width: 400px;
    height: 300px;
    position: relative;
}
.html-slide__title {
    font-weight: 700;
    font-size: 200%;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
}